In [1]:
import pandas as pd
import numpy as np
nomes = ['Marcio Franco','Tiago Filipe','José Miguel']
pt = [13,16,13]
mat = [13,18,10]
mydf = pd.DataFrame(list(zip(nomes,pt,mat)), columns = ['Nomes','Nota PT','Nota Mat'])
mydf['Media Disc'] = mydf.apply(lambda row: (row['Nota PT']*0.35+row['Nota Mat']*0.35),axis=1)
mydf['Entrevista'] = np.random.randint(10,20, mydf.shape[0])
mydf['Nota C/ Entrevista'] = mydf.apply(lambda row: (row['Nota PT']*0.35+row['Nota Mat']*0.35+row['Entrevista']*0.3),axis=1)
mydf.sort_values(by=['Nota C/ Entrevista'],ascending=False).style.highlight_between(left=17.45,right=19,subset='Nota C/ Entrevista',color='lightgreen')